#buscador, #input-nombre {
  width: 35%;
  display: block;
  margin: 20px auto;
  font-family: 'Quicksand', sans-serif;
  font-weight:bold;
}
#buscar-nombre{
  display: block;
  margin: 0 auto 50px;
  width: 140px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  padding: 7px; 
}

#tablaDatos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #tablaDatos th, #tablaDatos td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
  }
  #ingresar-boton{
    margin-top: 10px;
  }